@media (min-width: 640px) {
    
    header img {
        min-width: 1000px;
    }
    nav ul {
        display: flex;
        list-style-type: none;
        justify-content: space-evenly;
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
    }

    nav a {
        text-decoration: none;
    }

    #news {
        display: flex;
        justify-content: space-around;
    }

    #spotlights {
        display: grid;
        padding: 40px;
        grid-template-columns: 500px 500px;
        grid-template-rows: auto auto;
        
    }

    #bills {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #market {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #epicLoot {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    /*CSS Property Effect*/
    .flip-card {
        background-color: transparent;
        width: 300px;
        height: 225px;
        border: 1px solid #f1f1f1;
        perspective: 1000px;
        grid-column: 2/5;
        grid-row-start: 2;
    }
      
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 300px;
        height: 225px;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }

    .flip-card-front {
        background-color: #bbb;
        color: black;
        border: 3px solid black;
    }

    .flip-card-back {
        background-color: rgb(214, 123, 191);
        color: white;
        transform: rotateY(180deg);
    }

    .flip-card-back p {
        padding: 20px;
    }

    #discoverGrid {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }

    #imgRow {
        grid-column: 2/3;
    }

    #infoRow {
        grid-column: 1/2;
        grid-row: 1/2;
    }
}