body {
    font-family: "Caveat", sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

#profile {
    color: black;
    background-color: #72A1E5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: xx-large;
}

header span {
    padding-left: 30px;
}

nav {
    background-color: #c3b299ff;
    margin: 0 auto;
    max-width: 800px;
    
}

nav a {
    text-decoration: none;
    color: #474847ff;
    text-align: center;
    padding: 1rem;
    display: block;
}

ul {
    padding: 0 0 0 0;
    margin: 0 0;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

nav a:hover {
    border: 1px solid white;
    background-color: #474847ff;
    color: #c3b299ff;
}


main {
    margin-bottom: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2%;
    align-items: center;
}

h1 {
    grid-column: 1/3;
    text-align: center;
}

#card1, #card2 {
    text-align: center;
    background-color: #ffebffff;
}

#card1 {
    padding-bottom: 32px;
}

#card1 ul {
    list-style: none;
}

h2 {
    background-color: #72A1E5;
    margin-top: 0;
}

footer {
    background-color: #72A1E5;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#lastModified {
    margin-top: 0;
}

/* small view navigation */

#menu::before {
    content: "\2630";
}

#menu {
    font: 20px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .25rem 2vw;
}

ul.menuLinks li a {
    display: block;
    padding: .75rem 2vw;
    color: white;
    text-decoration: none;
}

li.current-menu-item a {
    background-color: #A19788;
}

#menu.open::before {
    content: "X";
}

ul.menuLinks {
    display: none;
    list-style-type: none;
}

ul.open.menuLinks {
    display: block;
}

@media (min-width: 640px) {
    #menu {
        display: none;
    }
}

/*dark mode stuff*/

#mode img {
    width: 20px;
}

#mode {
    font-size: 1rem;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}