:root {
    font-family: "Caveat", sans-serif;
}

main {	
	max-width: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

form {
    background-color: #fff;
	margin: 20px;
	display: flex;
	flex-direction: column;
	position: relative;
    padding: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="range"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
}


#rangevalue {
    padding-bottom: 15px;
    padding-top: 0px;
}