@media (max-width: 640px) {

    main {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 100%;
    }
    h1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #card1 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #card2 {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .navigation {
        display: none;
    }

    .navigation.open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 4rem; 
        right: 1rem; 
        background-color: #c3b299ff;
        z-index: 1000; 
    }
}